<div class="modal fade" id="@ID" tabindex="-1" role="dialog" aria-labelledby="infoDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoDialogTitle">@(String.IsNullOrWhiteSpace(TitleText) ? "Info" : TitleText)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@(String.IsNullOrWhiteSpace(BodyText) ? "I have nothing to say right now" : BodyText)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@code {

    [Parameter]
    public string ID { get; set; }

    [Parameter]
    public string TitleText { get; set; }

    [Parameter]
    public string BodyText { get; set; }
}
