@using mcp.Shared.ViewModels

<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card">
        <div class="card-header">@Vehicle.Name</div>
        <div class="card-body">
            <div class="small">
                @Vehicle.ModificationCount modifications | @Vehicle.ProjectCount projects
            </div>
        </div>
    </div>
</div>



@code {

    [Parameter]
    public VehicleListItemViewModel Vehicle { get; set; }
}
