@using mcp.Shared.ViewModels

<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card">
        <div class="card-header">
            <NavLink class="nav-link" href="@VehicleLink" Match="NavLinkMatch.All">@Vehicle.Name</NavLink>
        </div>
        <div class="card-body">
            <div class="small">
                @Vehicle.ModificationCount modification@(Vehicle.ModificationCount == 1 ? "" : "s"), @Vehicle.ProjectCount project@(Vehicle.ProjectCount == 1 ? "" : "s")
            </div>
        </div>
    </div>
</div>



@code {

    [Parameter]
    public VehicleListItemViewModel Vehicle { get; set; }

    public string VehicleLink
    {
        get
        {
            return "/vehicle/" + Vehicle.VehicleID;
        }
    }
}
