@using mcp.Shared.ViewModels

<li>
    @Vehicle.Name
</li>

@code {
    //[Parameter]
    //public int VehicleID { get; set; }

    [Parameter]
    public VehicleListItemViewModel Vehicle { get; set; }
}
