@using mcp.Shared.ViewModels
@using System.Text.Json
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<span>@ShoppingList</span>

@code {
    [Parameter]
    public List<ProjectShoppingListViewModel> ShoppingList { get; set; }

}
