@page "/garage"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using mcp.Shared
@using mcp.Shared.ViewModels
@attribute [Authorize]
@inject HttpClient Http

<h1>Garage</h1>

<p>Welcome home, bucko</p>

@if (vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#exampleModal">Add Vehicle</button>
    <AddEditVechicle Vehicle="null"></AddEditVechicle>

    @if (vehicles != null)
    {
        @if (vehicles.Count == 0)
        {
            <div class="alert alert-info" role="alert">
                Your garage is empty :(
            </div>
        }
        else
        {
            @foreach (var vehicle in vehicles)
            {
                <VehicleListItem Vehicle=@vehicle></VehicleListItem>
            }
        }


    }

}

@code {
    private List<VehicleListItemViewModel> vehicles;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            vehicles = await Http.GetFromJsonAsync<List<VehicleListItemViewModel>>("/api/Vehicle/listitems");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
