@page "/garage"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using mcp.Shared
@using mcp.Shared.ViewModels
@using mcp.Client.Shared
@attribute [Authorize]
@inject HttpClient Http

<div class="alert alert-primary">
    <h1>Garage</h1>
    <hr>
    <p>Welcome home, bucko</p>
</div>

@if (vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalVehicle">Add Vehicle</button>
    <AddEditVechicle VehicleID="null" OnRefreshCallback="@RefreshVehicles"></AddEditVechicle>

    @if (vehicles != null)
    {
        @if (vehicles.Count == 0)
        {
            <div class="alert alert-info" role="alert">
                Your garage is empty :(
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var vehicle in vehicles)
                {
                    <VehicleListItem Vehicle=@vehicle></VehicleListItem>
                }
            </div>
            
        }


    }

}

@code {
    private List<VehicleListItemViewModel> vehicles;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            vehicles = await Http.GetFromJsonAsync<List<VehicleListItemViewModel>>("/api/Vehicle/listitems");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task RefreshVehicles()
    {
        vehicles = await Http.GetFromJsonAsync<List<VehicleListItemViewModel>>("/api/Vehicle/listitems");
    }

}
